@model Product 
<div>
    @Model.Name<br />
    @Model.Price.ToString("c")<br />
    @Model.Description<br />

    <button class="addToCart">add to cart</button>
    

</div>

<script src="/js/site.js">
 
